
body .card-body,.card{
    background-color: rgb(215, 101, 215);
}

.bg{
    background-color:rgb(215, 101, 215);
}

.head{
    background-color: rgb(232, 136, 232);
    color: rgb(42, 1, 42);
}
.head-1{
    background-color: purple;
    color: rgb(232, 136, 232);
}

.card-1{
    color: white;
   
}

i{
    color: red;
}


.be{
     border-right: 2px dotted black;
}

img{
    width: 100%;
   background-size: cover;
  
}